%section#myaccount-container
  %header
    .avatar.span2
      %img{:src => "/assets/user/default.png"}
    #userinfo.span2
      %span="欢迎：#{current_user.username}"
      %span='积分：1000'

%section#mywish-container
  %header.shop-title
    %h4='我的收藏'

  #shop-in-shop.product-list.primary
    -@my_likes.each do |proto|
      %article#scout-seattle-traveler-boot-natural-horween-chromexcel.product.catalog-entry.brown.natural.leather.accessories{"data-group" => "shop-1"}
        %img.thumbnail{:src => proto.photos.first.url(:pro162), :alt => "Traveler Boot - Natural Horween® Chromexcel®", :title => "Traveler Boot - Natural Horween® Chromexcel®", :width => 162, :height => 162}
        .row
          %span.close{:title => 'Close'}='&times;'
          %a.figure{:href => proto_show_path(:id => proto.id), :title => "View Details", :rel => 'bookmark'}
            %img.photo-401{:src => proto.photos.first.url(:pro610), "data-original" => proto.photos.first.url(:pro610), :alt => "Traveler Boot - Natural Horween® Chromexcel®", :width => 612, :height => 612}
          %header
            %h1
              %a{:href => proto_show_path(:id => proto.id), :title => "View Details", :rel => 'bookmark'}='Traveler Boot'
            %h2='Natural Horween® Chromexcel®'
            %p.description='Moc-toe construction. Natural Horween® Chromexcel® outer. Horsehide insole. Deerskin lining. Vibram® Gumlite® sole. Padded upper. Antique brass D-rings. Toe plug water barrier. Waxed cotton laces from UK. Hand-sewn in Maine by Oak Street Bootmakers.'
            .dimensions
              %small.dimensions.standard
              %small.dimensions.metric
            %mark.special='Pre-order: The Traveler Boot is a made-to-order item and will ship directly rom Scout in February.'
          %footer
            .price-box.regular-price.final-price
              %span.currency='$'
              %span.price='593.00'
            %a.faux-button{:href => proto_show_path(:id => proto.id), :rel => 'bookmark'}='View Details'
    %hr.split{'data-group' => 'shop-1'}

%section#myorder-container
  %header.shop-title
    %h4='已买的原物'
  #products-container.product-list.primary
    -for i in 1..10 do
      %article#farm-ruck-sack-charcoal.product.catalog-entry.gray.canvas.leather.metal.bags{'data-group' => 1}
        %img.thumbnail{:src => Photo.last.url(:pro162), :alt => "Farm Ruck Sack - Charcoal Canvas and Natural HF", :title => "Farm Ruck Sack - Charcoal Canvas and Natural HF", :width => 162, :height => 162}
        .row.product-detail-info-X6927-CHR-MAK
          %span.close{:title => 'Close'}='&times;'
          %a.figure{:href =>"http://makr.com/farm-ruck-sack-charcoal", :title => "View Details", :rel => 'bookmark'}
            %img.photo-361{:src => Photo.last.url(:pro610), 'data-original' => "http://makr.com/media/catalog/product/cache/1/small_image/918x918/8d6882b137b3069e8cea9e13e57aa14a/f/a/farmruck_charcoal_fr_1.jpg", :alt => "Farm Ruck Sack - Charcoal Canvas and Natural HF", :width => 612, :height => 612}
          %header
            %h1
              %a{:href => "http://makr.com/farm-ruck-sack-charcoal", :title => "View Details", :rel => "bookmark"}='Farm Ruck Sack'
            %h2='Charcoal Canvas and Natural HF'
            %p.description='Simple backpack. Charcoal heavy cotton duck and natural HF leather. Unique exterior closures. Multiple pockets. Heavy cotton webbing and padded shoulder straps.'
            .dimensions
              %small.dimensions.standard="13.5\" &times; 18\" &times; 5.75\""
              %small.dimensions.metric="342.9mm &times; 457.2mm &times; 146.05mm"
          %footer
            .price-box.regular-price.final-price
              %span.currency='$'
              %span.price='160.00'
            %a.faux-button{:href => "http://makr.com/farm-ruck-sack-charcoal", :rel => 'bookmark'}='View Details'
    %hr.split{'data-group' => '31'}



