- content_for :page_title do
  = '原物 PROTO TO PRODUCT - Design Club and Shops​ ONLY with 3D Prints'

#home-feature.container
  %aside.feature.feature-blog
    %figure.feature.feature-blog
      %img{:src => Photo.first.url, :alt => "Scout Launch.", :width => 520, :height => 339}
      %figcaption
        %a{:href => "http://makr.com/blog/scout-seattle/", :rel => 'bookmark'}='Scout Launch.' 
    %figure.feature.feature-blog
      %img{:src => Photo.last.url, :width => 520, :height => 339}
      %figcaption
        %a{:href => "http://makr.com/blog/scout-preview/", :rel => 'bookmark'}='Scout Preview.' 
    %figure.feature.feature-blog
      %img{:src => "http://makr.com/wordpress/wp-content/uploads/2012/11/20120928_MAKR_FILM_086-520x339.jpg.pagespeed.ce.ZMA3Lz_JcT.jpg", :alt => "Studio Images by Josh Letchworth", :width => 520, :height => 339}
      %figcaption
        %a{:href => "http://makr.com/blog/ruck/", :rel => 'bookmark'}='Ruck.'

  %aside.feature.feature-products
    %figure.feature.feature-product
      %img{:src => "http://makr.com/media/catalog/product/cache/1/featured_image/522x341/d58d44b981214661663244ef00ea7e30/s/c/scout-seattle-single-pole-tent-natural-sunforger-canvas-02.jpg.pagespeed.ce.-nQ5tJ9LuX.jpg", :alt => "Single Pole Tent Natural Sunforger Canvas", :width => 520, :height => 339}
      %figcaption
        %a{:href => "http://makr.com/featured/scout-seattle-single-pole-tent-natural-sunforger-canvas", :rel => 'bookmark'}='Single Pole Tent.'

    %figure.feature.feature-product
      %img{:src => "http://makr.com/media/catalog/product/cache/1/featured_image/522x341/d58d44b981214661663244ef00ea7e30/i/p/iphone_5_nat_cord_prs.jpg.pagespeed.ce.qjfX7t0UwY.jpg", :atl => "iPhone 5 Sleeve Natural Horween&reg; Genuine Shell Cordovan&reg;",:width => 520, :height => 339}
      %figcaption
        %a{:href => "http://makr.com/featured/cordovan-iphone-5-sleeve-natural", :rel => 'bookmark'}='iPhone 5 Sleeve.'

%section#shop-container
  %header.shop-title
    %h4='新品 | New Arrival'

  #shop-in-shop.product-list.primary
    -@new_protos.each do |n|
      %article#scout-seattle-traveler-boot-natural-horween-chromexcel.product.catalog-entry.brown.natural.leather.accessories{"data-group" => "shop-1"}
        %img.thumbnail{:src => n.url(:pro162), :width => 162, :height => 162}
        .row
          %span.close{:title => 'Close'}='&times;'
          %a.figure{:href => proto_show_path(:id => n.status_message.id), :title => "View Details", :rel => 'bookmark'}
            %img.photo-401{:src => n.url(:pro512), :alt => "Traveler Boot - Natural Horween® Chromexcel®", :width => 612, :height => 612}
          %header
            %h1
              %a{:href => "http://makr.com/scout/scout-seattle-traveler-boot-natural-horween-chromexcel", :title => "View Details", :rel => 'bookmark'}='Traveler Boot'
            %h2='Natural Horween® Chromexcel®'
            %p.description='Moc-toe construction. Natural Horween® Chromexcel® outer. Horsehide insole. Deerskin lining. Vibram® Gumlite® sole. Padded upper. Antique brass D-rings. Toe plug water barrier. Waxed cotton laces from UK. Hand-sewn in Maine by Oak Street Bootmakers.'
            .dimensions
              %small.dimensions.standard
              %small.dimensions.metric
            %mark.special='Pre-order: The Traveler Boot is a made-to-order item and will ship directly rom Scout in February.'
          %footer
            .price-box.regular-price.final-price
              %span.currency='$'
              %span.price='593.00'
            %a.faux-button{:href => proto_show_path(:id => n.status_message.id), :rel => 'bookmark'}='View Details'

%section#catalog-container
  %header.shop-title
    %h4='所有 | All'
  %nav#filters
    %dl.filter
      %dt='Color'
      %dd
        %ol
          %li{'data-filter' => 'black'}='Black'
          %li{'data-filter' => 'brown'}='Brown'

    %dl.filter
      %dt='Product Type'
      %dd
        %ol
          %li{'data-filter' => 'accessories'}='Accessories'
          %li{'data-filter' => 'bags'}='Bags'

    %dl.filter
      %dt='Material'
      %dd
        %ol
          %li{'data-filter' => 'canvas'}='Canvas'
          %li{'data-filter' => 'cordovan'}='Cordovan'

  #products-container.product-list.primary
    -for i in 1..10 do
      -pho = Photo.last
      %article#farm-ruck-sack-charcoal.product.catalog-entry.gray.canvas.leather.metal.bags{'data-group' => 1}
        %img.thumbnail{:src => pho.url(:pro162), :alt => "Farm Ruck Sack - Charcoal Canvas and Natural HF", :title => "Farm Ruck Sack - Charcoal Canvas and Natural HF", :width => 162, :height => 162}
        .row.product-detail-info-X6927-CHR-MAK
          %span.close{:title => 'Close'}='&times;'
          %a.figure{:href =>proto_show_path(:id => pho.status_message.id), :title => "View Details", :rel => 'bookmark'}
            %img.photo-361{:src => pho.url(:pro512), 'data-original' => "http://makr.com/media/catalog/product/cache/1/small_image/918x918/8d6882b137b3069e8cea9e13e57aa14a/f/a/farmruck_charcoal_fr_1.jpg", :alt => "Farm Ruck Sack - Charcoal Canvas and Natural HF", :width => 612, :height => 612}
          %header
            %h1
              %a{:href => "http://makr.com/farm-ruck-sack-charcoal", :title => "View Details", :rel => "bookmark"}='Farm Ruck Sack'
            %h2='Charcoal Canvas and Natural HF'
            %p.description='Simple backpack. Charcoal heavy cotton duck and natural HF leather. Unique exterior closures. Multiple pockets. Heavy cotton webbing and padded shoulder straps.'
            .dimensions
              %small.dimensions.standard="13.5\" &times; 18\" &times; 5.75\""
              %small.dimensions.metric="342.9mm &times; 457.2mm &times; 146.05mm"
          %footer
            .price-box.regular-price.final-price
              %span.currency='$'
              %span.price='160.00'
            %a.faux-button{:href => proto_show_path(:id => pho.status_message.id), :rel => 'bookmark'}='View Details'
    %hr.split{'data-group' => '31'}











